

<div class="p-3 mb-2 bg-secondary text-white">

<h1>Création d'un nouvelle utilisateur</h1>

<form action="/users_controller" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  Ton nom d'utilisateur:<br>


  <input type="text" name="username" value="">
  <br>
  <br>
  <br>
  Bio: <br>

  <textarea name="bio" rows="8" cols="80"></textarea>

  <input type="submit" value="go" class="btn btn-danger">
</form>
</div>
